body {
    background-color: black;
}

.pokemon-button {
    display: inline-block;
    background-color: #f4dc26;
    border: 3px solid #FFAA00 ;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    
    
}

.pokemon-button:hover {
    background-color: #3d7dca;
    border: 5px solid #003a70;
    color: white;
}

button:hover{
    opacity: 1;
    font-size: 25px;
    color: black; 
    transition: opacity 0.9s, 0.6s font-size;
}

.header {
    background-image: url('images/pikachu.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    padding: 80px;

}
.contain_header {
    display: block;
    
}

/* .nav_pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 30px;
} */

/* .li_nav {
    color: white;
    margin-top: 10px;
    background-color: #3d7dca;
    border-radius: 5px;
    border: 5px solid black;
    font-weight: bold;
    text-transform: uppercase;
} */

/* a {
    text-decoration: none;
    color: white;
    padding: 10px;
} */
    


.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    list-style-type: none;
    padding: 50px;
    margin-top: 40px;
    
}

.pokemon_bg {
    background-image: url('images/pokeballs.jpg');
    background-size: cover;
    /* background-repeat: auto; */
    background-position: center;
    /* opacity: 0.4; por aqui se empieza */

}

.titulo {
    text-align: center;
    color: white;
    font-size: 80px;
    
    
}

/* MODAL */

#modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: white;
    text-decoration: underline;
}

.modal-close:hover {
    color: white;
}
    

.modal h1 {
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
    color: white;
}

.modal p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.modal {
    background-image: url(images/manopokeball.jpg);
    background-size: cover;
    background-position: center;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
/* CSS for modal container - add your own desired CSS styles here */
    display: block;
}

#show-modal,
#show-dialog {    /*this hide the show modal/dialog button from the main screen*/
    display: none; 
}

.pokemon-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------Modal Ends---------------------------------------------------- */

.footer {
    text-align: center;
}
.a_footer {
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.a_footer:hover {
    color: #f4dc26;
}

@media (max-width: 768px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
}
