body {
    background-color: black;
}

/*-BUTTON (btn)-*/
.btn {
    display: inline-block;
    background-color: #f4dc26;
    border: 3px solid #FFAA00 ;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0D49d2;
    border: 5px solid #3d7dca;
    color: white;
    opacity: 1;
    font-size: 25px; 
    transition: opacity 0.9s, 0.6s font-size;
}

/*-HEADER-*/
.header {
    background-color: #0D49d2;
    background-size: cover;
    background-position: center;
    padding: 80px;
}

.title {
    text-align: center;
    color: white;
    font-size: 80px;
}


/*-MAIN POKEMON LIST-*/
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    text-align: center;
    list-style-type: none;
    padding: 50px;
    margin-top: 40px;
}

.pokemon_bg {
    background-color: #FF0000;
    background-size: cover;
    background-position: center;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

/*- MODAL -*/
#modal-container {
    position: center;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;       /* to show it above other content */
    overflow: auto;     /* to allow scrolling if the screen is not high enough*/
    display: grid;      /* this is used to center the modal */
    text-align: center;
}
    
.modal-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh; /* Ajusta la altura según tus necesidades */
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.close:hover {
    color: red;
}

.modal-title {
    color: red;
}
.modal-body-height,
.modal-body-types {
    font-weight: bold;
    color: white;
}

#modal-container {
    display: none;
}

.modal-body-image {
    max-width: 100%;
    display: block;
    /* margin-top: 30px; */
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.modal-footer {
    justify-content: center;
    text-align: center;
}

/* FOOTER */
.footer {
    text-align: center;
    background-color: #0D49d2;
}
.a_footer {
    color: white;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
.a_footer:hover {
    color: #f4dc26;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 500px) {
    .pokemon-list,
    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
}
